doctype html


html(lang='en')

	head

		title Contractual Workmen &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Contractual Workmen
					
					.text

						h2 Details of Principal Employer

						table.border

							tbody

								tr

									td
										strong Sl. No.
									td
										strong Details of the Establishment
									td
										strong Description

								tr

									td 1
									td Name of the Establishment
									td Sanskriti School

								tr

									td 2
									td Address of the Establishment
									td Dr. S. Radhakrishnan Marg, Chanakyapuri, New Delhi – 21

								tr

									td 3
									td Address of the Establishment (Branch Office)
									td —–same as above——-

								tr

									td 4
									td Nature of work which Contract Workmen employed
									td Housekeeping and Security

								tr

									td 5
									td Name of the Proprietor/Partner/Director/Managing Director
									td (Principal)

								tr

									td 6
									td Date of starting of Business
									td 10/11/2004

								tr

									td 7
									td Date of Initial agreement with the PE & Contractor (working since with PE)
									td —-NA—-

								tr

									td 8
									td Mobile No. of Principal Employer
									td 8527647726

								tr

									td 9
									td E-mail ID of Principal Employer
									td school@sanskritischool.com

								tr

									td  10
									td Website address of Organisation
									td www.sanskritischool.edu.in

								tr

									td  11
									td Registration No./Contractor Labour License No.
									td Applied for

								tr

									td  12
									td Registration under the Registration Act, 1908
									td —-NA—-

								tr

									td  13
									td Registration under Partnership Act, 1932
									td —-NA—-

								tr

									td  14
									td Registration under the Companies Act, 1956
									td —-NA—-

								tr

									td  15
									td Registration No. under the Delhi Shops & Establishment Act, 1954
									td —-NA—-

								tr

									td  16
									td Registration under the Factories Act (for PE)
									td —-NA—-

								tr

									td  17
									td Registration No. of Employee EST Act, 1948
									td —-NA—-

								tr

									td  18
									td Registration No. EPF and Misc. Provisions Act, 1952
									td DL/22939

								tr

									td  19
									td Service Tax Registration No.
									td —-NA—-

								tr

									td  20
									td Sale Tax Registration No.
									td —-NA—-

								tr

									td  21
									td PAN Card No.
									td AAATT2933M

								tr

									td  22
									td Name/Address of website
									td www.sanskritischool.edu.in
						
						table.border

							tbody

								tr

									td Name and address of Principal Employer establishment

									td Sanskriti School, Dr. S. Radhakrishnan Marg, Chanakyapuri, New Delhi – 110 021

								tr

									td Designation

									td Principal
						
						table.border

							tbody

								tr
									th S.No.
									th Name and address of Contractor/s engaged
									th Name of Executive Partner/Prop./Director
									th Site/work place where contract labour is to be engaged
									th Maximum no. of workers to be engaged
									th Name &amp; Designation of authorized representative of PE for verifying/witness the wage disbursement
									th Date of Payment of Wages

								tr

									td 1.
									td M/s Tecknomen
									td Mr. Sanjeev Kumar
									td Sanskriti School
									td 47
									td Dhruvendra Singh (Estate Incharge)
									td 7th of every month

								tr

									td 2.
									td M/s Sentinels Security Pvt. Ltd.
									td Mr. Amitabh Bose
									td Sanskriti School
									td 29
									td Hari P Shrivastava( IT Coordinator & Security In-charge)
									td 7th of every month  

			section.footer

				include ../../includes/footer.pug