doctype html

html(lang='en')

	head
	
		title History &bull; Sanskriti School
	
		include ../../includes/head-general.pug
	
	body
	
		div.container
	
			section.navigation.flex
	
				include ../../includes/navigation.pug
	
			section.main
	
				.container

					.title

						h1 History

					.text

						p.
							The foundation stone for Sanskriti School was laid by Smt. Hemi Surendra Singh, Chairperson, Civil Services Society on May 30, 1996. The school became functional on August 12th 1998. Mrs. Gowri Ishwaran took over as the founder principal in the year 1999. The school is the enterprise and endeavour of the Civil Services Society, formed by the wives of the civil servants belonging to the various branches of the Government of India. Realising the importance of a premium school offering quality education to wards of the officers of All India and Allied services and Defence Personnel on transfer, the school was set up in Chanakyapuri. The school is now open all students irrespective of their parents professions or branch of government.

						p.
							The school also realises its responsibility towards the marginalised sections of society and has been admitting students from these backgrounds since 2004. At present, the School admits 25% students from economically weaker sections of society. Sanskriti School is a public sector, non- profit organization whose Chairperson is the spouse of the Cabinet Secretary. From the time of its inception, the school has excelled in academics as well as co curricular activities. At present there are over 2500 students from varied backgrounds studying in the school. Mrs Richa Agnihotri is the Principal of the school.

			section.footer
	
				include ../../includes/footer.pug