doctype html


html(lang='en')

	head

		title Houses &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container(style="padding:100px 0 200px 0")

					.title

						h1 Houses

					.text

						ul

							li Prakash House
							li Pratigya House
							li Prakriti House
							li Prayas House

			section.footer

				include ../../includes/footer.pug