doctype html

html(lang='en')


	head

		title Objectives &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Objectives

					.text

						p
							| The motto of the school is

							strong "Vidhyaya cha vimuchyate"&nbsp;

							| which translated in to English means,

							strong "Knowledge is liberation"

							| . This reflects the spirit and the philosophy of Sanskriti. Here we work towards bringing about a holistic development of the children who are entrusted to our care. The objectives of the school are manifold.
						
						.ul

							li To provide a stimulating, purposeful, cheerful, safe and secure environment, enabling all children to develop academically and socially.
							li To make students realize that striving for excellence, in all areas of life must be the goal in life.
							li To understand that each student is a unique individual with rights and responsibilities.
							li To have small classes so that each student receives individual attention.
							li To encourage students to take pride in their own achievements.
							li To make students aware that a disciplined environment contributes to the achievement of one’s goal .


			section.footer

				include ../../includes/footer.pug