doctype html


html(lang='en')

	head

		title Principal &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Principal

					.text

						img(src="/assets/img/principal.jpeg" alt="Photo of Mrs. Richa Sharma Agnihotri, the Principal of Sanskriti School, sitting in her office.")

						p.
							Mrs Richa Sharma Agnihotri comes to Sanskriti with twenty three years of experience in International Curricula. She spent over fifteen of those years at the British School New Delhi where she taught Physics from classes IX to XII and also led a number of school programs and initiatives. She has worked for eight years at Step by Step School, Noida as a Curriculum Leader where she set up the International curriculum for classes IX to XII. An alumna of Hindu and Miranda Colleges, the University of Delhi, Ms. Agnihotri has a first class Honours Degree in Physics as well as a Masters in Physics, a B.Ed and a Masters in Education. An excellent trainer and workshop leader Ms. Agnihotri helped develop the CBSE CCE Handbook for teachers and formulate the CBSEi Curriculum for Science. She has also been a Recognitions ambassador for the IB in India and is a certified trainer with Cambridge International Examinations. An avid reader, a keen learner, a passionate teacher and a committed and creative educator Ms. Agnihotri brings her skills and experience to her role as Principal

			section.footer

				include ../../includes/footer.pug