doctype html


html(lang='en')

	head

		title School Information &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 School Information
					
					.text

						p.
							Information about the School and its Management, mandated as per Rule 8.8(iv) of Affiliation Bye Laws of the Central Board of Secondary Education (CBSE) with reference to CBSE Circular No.3/10 dated 18/10/2010.

						table.border

							tbody

								tr

									th Sl. No
									th Item
									th Information

								tr

									td 1.
									td Name of School
									td
										| Sanskriti School
										br
										| Dr S. Radhakrishnan Marg
										br
										| Chanakya Puri,New Delhi-110021.
										.ul
											li Telephone no.: +91-11-26883335 / 26883336
											li Fax no.: +91-11-24105403
											li
												| Email: 
												a(href='mailto:school@sanskritischool.edu.in') school@sanskritischool.edu.in

								tr

									td 2.
									td Year of establishment
									td 1998

								tr

									td 3.
									td Whether NOC from State /UT of recommendation of Embassy of India obtained
									td Not Applicable

								tr

									td 4.
									td Is the School is recognized
									td YES, from Govt. of NCT of Delhi

								tr

									td 5.
									td
										| Status of Affiliation
										p(align='right') Affiliation No. Affiliated with
									td
										| Provisional
										p(align='left') 2730295 CBSE since 2001

								tr

									td 6.
									td Name of Society
									td The Civil Services Society Registered under the Societies Act of 1870

								tr

									td 7.
									td
										a(href='/about-us/managing-committee.html') List of Members of School Managing Committee

								tr

									td 8.
									td Name and official address of the Manager and Chairperson
									td
										| Ms Roopa Sinha, Chairperson, The Civil Services Society
										br
										| Ms Richa Sharma Agnihotri, Principal-cum-Manager, Sanskriti School

								tr

									td 9.
									td
										a(href='/infrastructure/details-of-campus.html') Area of School Campus

								tr

									td 10.
									td
										a(href='/admissions/fee-structure-2016-17.html') Details of Fees Structure

								tr

									td 11.
									td
										a(href='/infrastructure/transport-facilities.html') Transport Facility

								tr

									td 12.
									td
										a(href='/about-us/staff.html') Particulars of Teaching Staff

								tr

									td 13.
									td
										a(href='/info/payscale.html')
											| Details of Salary Being paid by the School to teaching Staff/ non- Teaching Staff

								tr

									td 14.
									td Mode of Payment of Salary Name of Bank :
									td Bank of Baroda through Single Cheque transfer Advice

								tr

									td 15.
									td
										a(href='/infrastructure/library.html') Library Facilities

								tr

									td 16.
									td Name of Grievance /Redressal Officer
									td
										| Ms Alka Patankar, PRT
										br
										| Ms Minakshi Khemka, TGT History

								tr

									td 17.
									td Members of Sexual Harassment Committee
									td
										| Ms Sangita Chowdhri, TGT-English
										br
										| Ms Sangeeta Gulati, PGT-Maths
										br
										| Mr Anil Singh, TGT-Hindi 
										br
										| Ms Swati Shukla, TGT-Social Study 
										br
										| Ms Vinti Batra, PRT

								tr

									td 18.
									td
										a(href='/admissions/section-wise-enrolment-2016-17.html') Section Wise enrolment of the School for the current Session

								tr

									td 19.
									td Academic Session Period
									td From April to March

								tr

									td 20.
									td Vacation Period
									td
										| From 15
										sup th
										|  May to 1
										sup st
										|  July

								tr

									td 21.
									td Admission Period
									td As per DOE Instruction
						
						p.
							Updated on 21th September 2017

			section.footer

				include ../../includes/footer.pug