doctype html


html(lang='en')

	head

		title Staff &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Staff

					.text

						img(src="/assets/img/staff.jpg")

						p.
							A motivated, dedicated and well qualified faculty oversee the well being of our students. A good teacher-student ratio (1:10) makes it possible for our faculty to monitor the progress of every child. The faculty is comfortable with usage of modern technologies such as computers, LCD or over head projector for classroom teaching, lesson plans, assignments and evaluation to make learning more interactive and effective. Regular in-service programmes, in India and abroad keep the faculty abreast of the latest international and national developments in the field of education, which afford them the opportunity to innovate. 

						p.
							The Administrative Staff of Sanskriti School consists of a group of efficient and concerned individuals. Thorough in work and ever ready to help and give information, the office staff consists of the Account Department, Transport and Estate Department and the Personnel Department. These departments put in their very best to deal with all administrative matters and ensure that the school runs on well oiled wheels.The Support Staff of Sanskriti School is one of the best. The teachers and students always have a word of praise for their “Bhaiyas” and “Didis”. Each member of this group is ever- patient and eager to help. They are tireless in their innumerable rounds of the school, assisting staff, students, parents or visitors or carrying circulars or photocopied material. Without this group of dedicated and invaluable foot soldiers no event would be possible in Sanskriti. 

						p.
							Read more about our staff at the following links
						
						.ul

							li

								a(href="/about-us/staff/junior.html") Junior Staff

							li

								a(href="/about-us/staff/middle-senior.html") Middle and Senior Staff

							li

								a(href="/about-us/staff/admin.html") Admin Staff

			section.footer

				include ../../includes/footer.pug