title Sanskriti School

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(rel="canonical" href="https://www.sanskritischool.edu.in/")
meta(name="author" content="Mihir Chaturvedi (plibither8), ProjectBeta")
meta(name="description" content="Sanskriti School is a public service oriented, non-profit organization, with the spouse of the serving Cabinet Secretary as its chairperson.")
meta(name="keywords" content="sanskriti, school, chanakyapuri, new delhi, cbse, sanskriti school, richa agnihotri, abha sahgal")
meta(name="theme-color" content="#0c0c38")

meta(property="og:type" content="website")
meta(property="og:title" content="Sanskriti School")
meta(property="og:url" content="https://www.sanskritischool.edu.in/")
meta(property="og:locale" content="en_IN")
meta(property="og:image" content="https://www.sanskritischool.edu.in/")
meta(property="og:description" content="Sanskriti School is a public service oriented, non-profit organization, with the spouse of the serving Cabinet Secretary as its chairperson.")

meta(name="twitter:card" content="website")
meta(name="twitter:title" content="Sanskriti School")
meta(name="twitter:site" content="https://www.sanskritischool.edu.in/")
meta(name="twitter:image" content="https://www.sanskritischool.edu.in/")
meta(name="twitter:description" content="Sanskriti School is a public service oriented, non-profit organization, with the spouse of the serving Cabinet Secretary as its chairperson.")

meta(name="msapplication-config" content="/assets/img/icons/browserconfig.xml")
link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png")
link(rel="manifest" href="/assets/img/icons/manifest.json")
link(rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#5bbad5")
link(rel="shortcut icon" href="/assets/img/icons/favicon.ico")

link(rel="stylesheet" href="/assets/css/index.css")
link(rel="stylesheet" href="/assets/css/typography.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Libre+Baskerville|Oxygen:300")

script(defer src="/assets/js/scripts.js")
script(defer src="/assets/js/index.js")