doctype html

html(lang='en')

	head

		title Junior School Library &bull; Sanskriti School

		include ../../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Junior School Library

					.text

						p.
							The Junior Library stands as a milestone of the School not only for the primary children but also for parents and visitors, who have always shown great interest in the ambience of the library and the reading culture of our little ones. 

						p.
							The library is very spacious. It is equipped with a large number of books and periodicals covering illustrated story books, colorful encyclopedias and informative reference books. It is facilitated with an audiovisual room with a large TV screen and a circular open enclosure for storytelling. 

						p.
							The idea of the Reading programme in the Junior Library is to develop concentration and a creative mindset, to foster team spirit, to arouse curiosity, enjoy reading in the primary students.

			section.footer

				include ../../../includes/footer.pug