doctype html

html(lang='en')

	head

		title Senior School Library &bull; Sanskriti School

		include ../../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Senior School Library

					.text

						p.
							The senior school library caters to the information needs of students from classes XI & XII and serves as a resource centre for the staff members. It has a collection of more than 25,000 books and 20 periodicals. We have educational multimedia, complementing the teaching. The school library has access to a variety of resources and uses the Internet for information gathering.

			section.footer

				include ../../../includes/footer.pug