section.footer
	
	div.footer-content
		flex-direction column
		align-items center
		
		div.map
			width 85%
			margin-bottom 50px
			
		div.info
			width 85%
			
			div
			
				div.data
					
					h1
						width 100%
		
	div.credits
		
		p
			font-size 11px