section.footer
	
	div.footer-content
		flex-direction row
		
		div.info
			width 50%
			flex-direction column
			
			> div
				width 100% !important

				div.data

					h1
						width 100%
			
			& div.phone
				margin 30px 0