@require "../imports/main"

section.main
	background #eee
	border-bottom 2px solid sanskriti-orange
	
	div.container
		width 90%
		max-width 800px
		margin 0 auto
		padding 40px 0
		font-family "Alegreya Sans"
		font-weight 100
		
		div.title
			
			h1
				font-size 50px
				padding 0 0 7px 0
				color sanskriti-orange
				border-bottom 1px solid
				margin 0 0 20px 0
				font-weight 500
				letter-spacing 1.2px
		
		div.text
			overflow-x auto
			overflow-y auto

			p
				font-size 20px
				line-height 1.5
				padding 20px 0
				
				strong
					color #333
			
			p.quote
				font-style italic
				color sanskriti-blue
			
			h2
				font-size 30px
				padding 7px 0
				color sanskriti-orange
				border-bottom 1px solid
				margin 0 0 20px 0
				font-weight 500
				letter-spacing 1.2px
				
			.ul
				padding 10px 0
				
				li
					padding 5px 0
					font-size 20px
					line-height 1.5
					list-style-type circle
					font-weight 500

			a
				color sanskriti-orange
				font-size 20px
				display inline-block
				margin 5px 0
				border-bottom 1px solid

			img
				width 40%
				height auto
				margin 10px auto
				display block
				border 2px solid #323248
			
			table
				width 100%
				margin 8% 0
			
				tr
					padding 20px 0
					font-size 20px
					height 20px
				
				th
					text-align left
				
				td
					padding-left 3px
					padding-right 3px
				
				&.border
					border-collapse collapse

					table, th, td
						border 1px solid black
				
				&.nowrap

					td
						white-space nowrap

@import "../imports/media-queries/universal"
@import "../imports/media-queries/general"