@require "../imports/main"

section.top
	background #eee
	width 100%
	border-bottom 3px solid sanskriti-orange
	padding 60px 0
	
	div.carousel
		width 50%
		height 100%
		
		div.carousel-box
			height 100%
			width 80%
			border 3px solid #323248
			
			img
				width 100%
				height auto
				display block
				margin 0 auto
	
	div.welcome
		width 50%
		height 100%
		justify-content flex-start
		
		div.container
			width 80%
			height 80%
			
			h1
				font-family "Alegreya Sans"
				font-size 400%
				color sanskriti-orange
				font-weight 100
			
			p
				font-family "Alegreya Sans"
				font-size 21px
				line-height 1.3
				font-weight 100
				padding 2% 0
				
			a
				color sanskriti-orange
				transition 0.1s all ease
				
				&:hover
					padding 3px 0
					border-bottom 1px solid
	
section.middle
	width 100%
	background #323248
	justify-content space-around
	border-bottom 3px solid sanskriti-orange
	
	div.updates
		width 25%
		max-width 350px
		height 60vh
		
		div.updates-box
			width 100%
			height 80%
			flex-direction column
			align-items center
			border 3px solid #aaa
			
			div.updates-top
				width 100%
				height 15%
							
				a
					font-family "Libre Baskerville"
					font-size 19px
					font-weight bold
					padding 0 0 3% 0
					border-bottom 2px solid
					text-align center
				
			div.updates-list
				height 70%
				width 100%
				flex-direction column
				justify-content space-around
				overflow-y auto

				li.updates-item
					width 85%
					margin 0 auto
					color #eee
					letter-spacing 1px
					font-size 14px
					font-weight 100
					list-style-position inside
					list-style-type square
					padding 0 0 25px 0

					span
						font-weight bold
					
					a
						color inherit
						text-decoration underline
						text-underline-position under
					
					&.important
						color #ff7878
						font-weight bold

					&:nth-child(3)
						border none

			div.updates-view-more
				width 100%
				height 15%
				
				a
					font-size 17px
					font-weight bold
					transition 0.1s padding ease
					
					&:hover
						padding 0 0 5px 0
						border-bottom 2px solid
					
					
			div.updates-calendar
				height 15%
				width 100%
				border-top 3px solid #aaa
				
				a
					font-size 20px
					color sanskriti-orange
					font-weight bold
			
		&.news
			
			div.updates-box
				
				div.updates-top, div.updates-view-more
					
					> a
						color #ff9d53

		&.achievements
			
			div.updates-box
				
				div.updates-top, div.updates-view-more
					
					> a
						color #3bb5b9

		&.sports
			
			div.updates-box
				
				div.updates-top, div.updates-view-more
					
					> a
						color #55b355

section.bottom
	width 100%
	background #eee
	padding 20px
	border-bottom 3px solid sanskriti-orange

	div.image
		width 35%
		height 100%
		
		img
			width 60%
			height auto
			border 2px solid sanskriti-blue
	
	div.message
		width 65%
		height 100%
		padding 30px 0
		justify-content flex-start
		
		div.container
			height 80%
			width 80%

			h1
				font-family "Alegreya Sans"
				font-size 48px
				color sanskriti-orange
				font-weight 100
				margin 3% 0

			p
				font-family "Alegreya Sans"
				font-size 21px
				line-height 1.3
				font-weight 100
				padding 2% 0
				
				&.quote
					color sanskriti-blue

					&:nth-child(2)
						font-style italic
						padding-bottom 0
					
					&:nth-child(3)
						text-align right
						padding-top 0
				
			a
				color sanskriti-orange
				transition 0.1s all ease
				
				&:hover
					padding 3px 0
					border-bottom 1px solid

@import "../imports/media-queries/universal"
@import "../imports/media-queries/index"