.container

	section.navigation.flex

		include ./navigation.pug

	section.main

		section.top.flex

			.carousel.flex

				.carousel-box.flex

					img(src="http://via.placeholder.com/700x350")

			.welcome

				h1 Welcome to Sanskriti

				p
					| Sanskriti School is a public service oriented, non-profit organization, with the spouse of the serving Cabinet Secretary as its chairperson. 

				p
					| The Mission of the School is to provide the right inputs to help the children grow up into caring and sharing individuals, equipped to make the right choices in life &amp; grow up to be responsible citizens of the country &amp; the world. 

				p
					| The school's motto 'Knowledge is Liberation' is the cornerstone around which the character and personality of every child is built. The Society visualises an educational system based on the four basic tenets : universal values, excellence in all things, global understanding by viewing diversity as an asset, and service to humanity.

		section.middle.flex

			.news.updates.flex

				.updates-box.flex

					.updates-top.flex

						a(href="#") Circulars &amp; Updates

					.updates-list

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						a(href="#") View more &rarr;

			.achievements.updates.flex

				.updates-box.flex

					.updates-top.flex

						a(href="#") Achievements

					.updates-list

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						a(href="#") View more &rarr;

			.sports.updates.flex

				.updates-box.flex

					.updates-top.flex

						a(href="#") Sports Corner

					.updates-list

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						li.updates-item
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						a(href="#") View more &rarr;

		section.bottom

			.principle

	section.footer

		include ./footer.pug