.container

	section.navigation.flex

		include ./navigation.pug

	section.main

		section.top.flex

			.carousel.flex

				.carousel-box.noselect

					each num in [1, 2, 3, 4, 5, 6, 7]

						div
		
							img(src="/assets/img/carousel/c"+num+".jpg")

			.welcome.flex

				.container

					h1 Welcome to Sanskriti

					p
						| Sanskriti School is a public service oriented, non-profit organization, with the spouse of the serving Cabinet Secretary as its chairperson. 

					p
						| The Mission of the School is to provide the right inputs to help the children grow up into caring and sharing individuals, equipped to make the right choices in life and grow up to be responsible citizens of the country and the world.

					a(href="/about-us/history.html") Read more &rarr;

		section.middle.flex

			.news.updates.flex

				.updates-box

					.updates-top.flex

						a(href="#") Circulars &amp; Updates

					.updates-list

					.updates-view-more.flex

						a(href="#") View more &rarr;

			.achievements.updates.flex

				.updates-box

					.updates-top.flex

						a(href="#") Achievements &amp; Activities

					.updates-list

					.updates-view-more.flex

						a(href="#") View more &rarr;

			.sports.updates.flex

				.updates-box

					.updates-top.flex

						a(href="#") Sports Corner

					.updates-list

					.updates-view-more.flex

						a(href="#") View more &rarr;

		section.bottom.flex

			.image.flex

				img(src="/assets/img/principal.jpeg")

			.message.flex

				.container

					h1 Message from Our Principal

					p.quote
						| "The highest education is that which does not merely give us information but makes our life in harmony with existence”
				
					p.quote
						| Rabindranath Tagore
					
					p
						| At Sanskriti we are committed to providing a safe and secure learning environment to enable our children to develop skills that will help them be caring, confident and responsible global citizens. As Principal of Sanskriti I believe in the power of the young mind to make a change. It is with this belief and faith that we endeavor to inculcate in our children values of empathy, responsibility, humility and the passion to believe in their dreams.

					a(href="about-us/principal.html") Read more &rarr;

	section.footer

		include ./footer-index.pug