.container

	section.navigation.flex

		include ./navigation.pug

	section.main

		section.top.flex

			.carousel.flex

				.carousel-box.noselect

					div
	
						img(src="/assets/img/carousel/c1.jpg")

					div
	
						img(src="/assets/img/carousel/c2.jpg")

					div
	
						img(src="/assets/img/carousel/c1.jpg")

					div
	
						img(src="/assets/img/carousel/c2.jpg")

					div
	
						img(src="/assets/img/carousel/c1.jpg")

			.welcome.flex

				.container

					h1 Welcome to Sanskriti

					p
						| Sanskriti School is a public service oriented, non-profit organization, with the spouse of the serving Cabinet Secretary as its chairperson. 

					p
						| The Mission of the School is to provide the right inputs to help the children grow up into caring and sharing individuals, equipped to make the right choices in life and grow up to be responsible citizens of the country and the world.

					a(href="#") Read more &rarr;

		section.middle.flex

			.news.updates.flex

				.updates-box

					.updates-top.flex

						a(href="#") Circulars &amp; Updates

					.updates-list

						//- li.updates-item
						//- 	| Middle School Trips: Parents are requested to check the updates in their logins.

						//- li.updates-item
						//- 	| Winter timings(7.45 am-2.00 pm) would be applicable from Friday, December 1, 2017.

						//- li.updates-item
						//- 	| Dear Parents, please note that there will be No morning and afternoon activities till air quality index improves

					.updates-view-more.flex

						a(href="#") View more &rarr;

			.achievements.updates.flex

				.updates-box

					.updates-top.flex

						a(href="#") Achievements &amp; Activities

					.updates-list

						//- li.updates-item
						//- 	| Bizzonomy club participation in children's day event for underprivileged

						//- li.updates-item
						//- 	| First prize in India's biggest quiz competition- Inquizitive minds

						//- li.updates-item
						//- 	| Interschool Quiz Competitions

					.updates-view-more.flex

						a(href="#") View more &rarr;

			.sports.updates.flex

				.updates-box

					.updates-top.flex

						a(href="#") Sports Corner

					.updates-list

						//- li.updates-item
						//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						//- li.updates-item
						//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

						//- li.updates-item
						//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

					.updates-view-more.flex

						a(href="#") View more &rarr;

		section.bottom.flex

			.image.flex

				img(src="/assets/img/principal.jpeg")

			.message.flex

				.container

					h1 Message from Our Principal

					p.quote
						| "The highest education is that which does not merely give us information but makes our life in harmony with existence”
				
					p.quote
						| Rabindranath Tagore
					
					p
						| At Sanskriti we are committed to providing a safe and secure learning environment to enable our children to develop skills that will help them be caring, confident and responsible global citizens. As Principal of Sanskriti I believe in the power of the young mind to make a change. It is with this belief and faith that we endeavor to inculcate in our children values of empathy, responsibility, humility and the passion to believe in their dreams.

					a(href="about-us/principal.html") Read more &rarr;

	section.footer

		include ./footer-index.pug