div.footer-content.flex
	
	div.map.flex

		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
		
		div(style='overflow:hidden;height:250px;width:450px;border:3px solid #FD5D2D')

			#gmap_canvas(style='height:250px;width:450px;')

			style
			
				#gmap_canvas.
					img{max-width:none!important;background:none!important}

	div.info.flex

		div.address.flex

			div.data

				h1 ADDRESS

				p Sanskriti School
				p Dr. S. Radhakrishnan Marg
				p Chanakyapuri
				p New Delhi
				p Delhi - 110021

		div.phones.flex

			div.data

				h1 PHONE

				a(href="tel:+91-11-26883335") +91-11-26883335
				a(href="tel:+91-11-26883336") +91-11-26883336
				a(href="tel:+91-11-26883337") +91-11-26883337
				a(href="tel:+91-11-26883338") +91-11-26883338

		div.emails.flex

			div.data

				h1 EMAIL

				a(href="mailto:school@sanskritischool.edu.in") school@sanskritischool.edu.in
				a(href="mailto:principal@sanskritischool.edu.in") principal@sanskritischool.edu.in
				a(href="mailto:it@sanskritischool.edu.in") it@sanskritischool.edu.in

div.credits.flex

	p
		| &copy; 2017 Sanskriti School &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/&gt; by&nbsp;
		a(href="https://github.com/plibither8" target="_blank") Mihir Chaturvedi
		| &nbsp;@&nbsp;
		a(href="http://projectbeta.tech" target="_blank") ProjectBeta