title Sanskriti School

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(rel="canonical" href="https://www.sanskritischool.edu.in/")
meta(name="author" content="plibither8")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="theme-color" content="#0c0c38")

meta(property="og:type" content="website")
meta(property="og:title" content="Sanskriti School")
meta(property="og:url" content="https://www.sanskritischool.edu.in/")
meta(property="og:locale" content="en_IN")
meta(property="og:image" content="https://www.sanskritischool.edu.in/")
meta(property="og:description" content="")

meta(name="twitter:card" content="website")
meta(name="twitter:title" content="Sanskriti School")
meta(name="twitter:site" content="https://www.sanskritischool.edu.in/")
meta(name="twitter:image" content="https://www.sanskritischool.edu.in/")
meta(name="twitter:description" content="")

link(rel="icon" href="assets/img/icons/favicon.ico")
link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
link(rel="stylesheet" type="text/css" href="/assets/css/typography.css")

script(type="text/javascript" defer src="/assets/js/main.js")
script(type="text/javascript" defer src="/assets/js/navigation.js")