meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(lang="en")
meta(name="author" content="plibither8")
meta(name="description" content="")
meta(name="theme-color" content="#0c0c38")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(rel="canonical" href="https://www.sanskritischool.edu.in/")

link(rel="icon" href="/assets/img/icons/favicon.ico")
link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
link(rel="stylesheet" type="text/css" href="/assets/css/typography.css")

script(type="text/javascript" defer src="/assets/js/main.js")
script(type="text/javascript" defer src="/assets/js/navigation.js")