meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(rel="canonical" href="https://www.sanskritischool.edu.in/")
meta(name="author" content="lordhamarbae+plibither8")
meta(name="description" content="")
meta(name="theme-color" content="#0c0c38")
link(rel="icon" href="../../../assets/images/icons/favicon.ico")
link(rel="stylesheet" type="text/css" href="../../css/style.css")
link(rel="stylesheet" type="text/css" href="../../css/typography.css")
script(type="text/javascript" defer src="../../js/main.js")
script(type="text/javascript" defer src="../../js/navigation.js")