meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(lang="en")
meta(name="author" content="Mihir Chaturvedi (plibither8), ProjectBeta")
meta(name="description" content="")
meta(name="theme-color" content="#0c0c38")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(rel="canonical" href="https://www.sanskritischool.edu.in/")

link(rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png")
link(rel="stylesheet" type="text/css" href="/assets/css/general.css")
link(rel="stylesheet" type="text/css" href="/assets/css/typography.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Oxygen:300")

script(type="text/javascript" defer src="/assets/js/scripts.js")