.header.flex.noselect
	
	a(href="/" class="flex")

		img(src='/assets/img/icons/logo.png' alt='School Logo')
		
		h1 Sanskriti School

.links.flex.noselect
	.level1.container.flex
		.link.flex.about-us
			a.flex About Us ▾
		.link.flex.curriculum
			a.flex Curriculum ▾
		.link.flex.admissions
			a.flex Admissions ▾
		.link.flex.infrastructure
			a.flex Infrastructure ▾
		.link.flex
			a.flex(href='/info/tenders') Tenders
		.link.flex
			a.flex(href='http://www.sscampuscare.in/') Login
	.about-us.container.nodisplay.level2
		.link.flex
			a.flex(href='/about/history') History
		.link.flex
			a.flex(href='/about/objectives') Objectives
		.link.flex
			a.flex(href='/about/mission') Mission
		.link.flex
			a.flex(href='/about/managing-committee') Managing Committee
		.link.flex
			a.flex(href='/about/pta') PTA
		.link.flex
			a.flex(href='/about/principal') Principal
		.link.flex
			a.flex(href='/about/incharges') Incharges
		.link.flex
			a.flex(href='/about/staff') Staff
		.link.flex
			a.flex(href='/about/counselling') Counselling
		.link.flex
			a.flex(href='/about/clubs') Clubs
		.link.flex
			a.flex(href='/about/houses') Houses
		.link.flex
			a.flex(href='/about/student-council') Student Council
		.link.flex
			a.flex(href='/about/umang') Umang
		.link.flex
			a.flex(href='/about/contractual-workmen') Contractual Workmen
		.link.flex
			a.flex(href='/about/school-information') School Information
		.link.flex
			a.flex(href='/News/RTI_2017.pdf') RTI Information
	.curriculum.container.nodisplay.level2
		.link.flex
			a.flex(href='/curriculum/early-child-development') Early Child Development
		.link.flex
			a.flex(href='/curriculum/junior-school') Junior School
		.link.flex
			a.flex(href='/curriculum/middle-school') Middle School
		.link.flex
			a.flex(href='/curriculum/senior-school') Senior School
		.link.flex
			a.flex(href='/curriculum/learning-centre') Learning Centre
		.link.flex
			a.flex(href='/curriculum/smartskills') Smartskills
	.admissions.container.nodisplay.level2
		.link.flex
			a.flex(href='/admissions/fee-structure-2016-17') Fee Structure 2016-17
		.link.flex
			a.flex(href='/admissions/section-wise-enrolment-2016-17') Section Wise Enrolment 2016-17
		.link.flex
			a.flex(href='/admissions/nursery-enrolment-2018-19') Nursery Enrolment 2018-19
		.link.flex
			a.flex(href='/admissions/class-ix-enrolment-2017-18') Class IX Enrolment 2017-18
		.link.flex
			a.flex(href='/admissions/class-xi-enrolment-2017-18') Class XI Enrolment 2017-18
	.infrastructure.container.nodisplay.level2
		.link.flex
			a.flex(href='/infrastructure/details-of-campus') Details Of Campus
		.link.flex
			a.flex(href='/infrastructure/library') Library
		.link.flex
			a.flex(href='/infrastructure/canteen') Canteen
		.link.flex
			a.flex(href='/infrastructure/amphitheatre') Amphitheatre
		.link.flex
			a.flex(href='/infrastructure/administration-block') Administration Block
		.link.flex
			a.flex(href='/infrastructure/sports-facilities') Sports Facilities
		.link.flex
			a.flex(href='/infrastructure/art-block') Art Block
		.link.flex
			a.flex(href='/infrastructure/classrooms') Classrooms
		.link.flex
			a.flex(href='/infrastructure/labs') Labs
		.link.flex
			a.flex(href='/infrastructure/transport') Transport Facilities
		.link.flex
			a.flex(href='/infrastructure/infirmary') Infirmary
