.header.flex.noselect
	//- img(src='assets/images/logo.png' alt='School Logo')
	h1 Sanskriti School
.links.flex.noselect
	.level1.container.flex
		.link.flex.about-us
			a.flex About Us&nbsp;&#x25BE;
		.link.flex.curriculum
			a.flex Curriculum&nbsp;&#x25BE;
		.link.flex.admissions
			a.flex Admissions&nbsp;&#x25BE;
		.link.flex.infrastructure
			a.flex Infrastructure&nbsp;&#x25BE;
		.link.flex
			a.flex(href='./vacancy.html') Vacancy
		.link.flex
			a.flex(href='/tenders.html') Tenders
		.link.flex
			a.flex(href='/login.html') Login
	.level2.about-us.container.nodisplay
		.link.flex
			a.flex(href='/about-us/history.html') History
		.link.flex
			a.flex(href='/about-us/objectives.html') Objectives
		.link.flex
			a.flex(href='/about-us/mission.html') Mission
		.link.flex
			a.flex(href='/about-us/managing-committee.html') Managing Committee
		.link.flex
			a.flex(href='/about-us/pta.html') PTA
		.link.flex
			a.flex(href='/about-us/principal.html') Principal
		.link.flex
			a.flex(href='/about-us/incharges.html') Incharges
		.link.flex
			a.flex(href='/about-us/staff.html') Staff
		.link.flex
			a.flex(href='/about-us/councelling.html') Councelling
		.link.flex
			a.flex(href='/about-us/clubs.html') Clubs
		.link.flex
			a.flex(href='/about-us/houses.html') Houses
		.link.flex
			a.flex(href='/about-us/student-council.html') Student Council
		.link.flex
			a.flex(href='/about-us/umang.html') Umang
		.link.flex
			a.flex(href='/about-us/contractual-workmen.html') Contractual Workmen
		.link.flex
			a.flex(href='/about-us/school-information.html') School Information
		.link.flex
			a.flex(href='/about-us/rti-information.html') RTI Information
	.level2.curriculum.container.nodisplay
		.link.flex
			a.flex(href='/curriculum/early-child-development.html') Early Child Development
		.link.flex
			a.flex(href='/curriculum/junior-school.html') Junior School
		.link.flex
			a.flex(href='/curriculum/middle-school.html') Middle School
		.link.flex
			a.flex(href='/curriculum/senior-school.html') Senior School
		.link.flex
			a.flex(href='/curriculum/learning-centre.html') Learning Centre
		.link.flex
			a.flex(href='/curriculum/smartskills.html') Smartskills
	.level2.admissions.container.nodisplay
		.link.flex
			a.flex(href='/admissions/fee-structure-2016-17.html') Fee Structure 2016-17
		.link.flex
			a.flex(href='/admissions/section-wise-enrolment-2016-17.html') Section Wise Enrolment 2016-17
		.link.flex
			a.flex(href='/admissions/nursery-enrolment-2017-18.html') Nursery Enrolment 2017-18
		.link.flex
			a.flex(href='/admissions/class-ix-enrolment-2017-18.html') Class IX Enrolment 2017-18
		.link.flex
			a.flex(href='/admissions/class-xi-enrolment-2017-18.html') Class XI Enrolment 2017-18
		.link.flex
			a.flex(href='/admissions/school-leaving-certificates.html') School Leaving Certificates
	.level2.infrastructure.container.nodisplay
		.link.flex
			a.flex(href='/infrastructure/details-of-campus.html') Details Of Campus
		.link.flex
			a.flex(href='/infrastructure/library.html') Library
		.link.flex
			a.flex(href='/infrastructure/canteen.html') Canteen
		.link.flex
			a.flex(href='/infrastructure/amphitheatre.html') Amphitheatre
		.link.flex
			a.flex(href='/infrastructure/administration-block.html') Administration Block
		.link.flex
			a.flex(href='/infrastructure/sports-facilities.html') Sports Facilities
		.link.flex
			a.flex(href='/infrastructure/art-block.html') Art Block
		.link.flex
			a.flex(href='/infrastructure/classrooms.html') Classrooms
		.link.flex
			a.flex(href='/infrastructure/labs.html') Labs
		.link.flex
			a.flex(href='/infrastructure/transport-information.html') Transport Facilities
		.link.flex
			a.flex(href='/infrastructure/infirmary.html') Infirmary