div.header.flex.noselect
	img(src='../../assets/images/logo.png' alt='School Logo')
	h1 Sanskriti School
div.linkContainer.flex.noselect
	div.link.flex
		a About Us
	div.link.flex
		a Curriculum&#9662;
	div.link.flex
		a Admissions&#9662;
	div.link.flex
		a Infrastructure&#9662;
	div.link.flex
		a Vacancy
	div.link.flex
		a Tenders
	div.link.flex
		a Login