.header.flex.noselect
	img(src='../../assets/images/logo.png' alt='School Logo')
	h1 Sanskriti School
.links.flex.noselect
	.level1.container.flex
		.link.flex.about-us
			a.flex About Us&nbsp;&#9662;
		.link.flex.curriculum
			a.flex Curriculum&nbsp;&#9662;
		.link.flex.admissions
			a.flex Admissions&nbsp;&#9662;
		.link.flex.infrastructure
			a.flex Infrastructure&nbsp;&#9662;
		.link.flex
			a.flex(href='#') Vacancy
		.link.flex
			a.flex(href='#') Tenders
		.link.flex
			a.flex(href='#') Login
	.level2.about-us.container.nodisplay
		.link.flex
			a.flex(href='#') History
		.link.flex
			a.flex(href='#') Objectives
		.link.flex
			a.flex(href='#') Mission
		.link.flex
			a.flex(href='#') Managing Committee
		.link.flex
			a.flex(href='#') PTA
		.link.flex
			a.flex(href='#') Principal
		.link.flex
			a.flex(href='#') Incharges
		.link.flex
			a.flex(href='#') Staff
		.link.flex
			a.flex(href='#') Councelling
		.link.flex
			a.flex(href='#') Clubs
		.link.flex
			a.flex(href='#') Houses
		.link.flex
			a.flex(href='#') Student Council
		.link.flex
			a.flex(href='#') Umang
		.link.flex
			a.flex(href='#') Contractual Workmen
		.link.flex
			a.flex(href='#') School Information
		.link.flex
			a.flex(href='#') RTI Information
	.level2.curriculum.container.nodisplay
		.link.flex
			a.flex(href='#') Early Child Development
		.link.flex
			a.flex(href='#') Junior School
		.link.flex
			a.flex(href='#') Middle School
		.link.flex
			a.flex(href='#') Senior School
		.link.flex
			a.flex(href='#') Learning Centre
		.link.flex
			a.flex(href='#') Smartskills
	.level2.admissions.container.nodisplay
		.link.flex
			a.flex(href='#') Fee Structure 2016-17
		.link.flex
			a.flex(href='#') Section Wise Enrollment 2016-17
		.link.flex
			a.flex(href='#') Nursery Enrollment 2017-18
		.link.flex
			a.flex(href='#') Class IX Enrollment 2017-18
		.link.flex
			a.flex(href='#') Class XI Enrollment 2017-18
		.link.flex
			a.flex(href='#') School Leaving Certificates
	.level2.infrastructure.container.nodisplay
		.link.flex
			a.flex(href='#') Details Of Campus
		.link.flex
			a.flex(href='#') Library
		.link.flex
			a.flex(href='#') Canteen
		.link.flex
			a.flex(href='#') Amphitheatre
		.link.flex
			a.flex(href='#') Administration Block
		.link.flex
			a.flex(href='#') Sport Facilities
		.link.flex
			a.flex(href='#') Art Block
		.link.flex
			a.flex(href='#') Classrooms
		.link.flex
			a.flex(href='#') Labs
		.link.flex
			a.flex(href='#') Transport Facilities
		.link.flex
			a.flex(href='#') Infirmary