doctype html

html(lang='en')

	head

		title Class XI Enrolment 2017-18 &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Class XI Enrolment 2017-18
					
					.text

						h2 Admission Schedule

						table.border

							tbody

								tr

									th(width='06%') Sno
									th(width='60%')
										center Item
									th(width='15%')
										center Status
									th(width='19%') Due Date

								tr

									td 1.
									td Admission Information for Class XI 2017-2018; Categories, Criteria and Procedure
									td
										a(href='http://sanskritischool.edu.in/News/ADMISSION_SCHEDULE_FOR_XI_2017_18.pdf', target='_blank') Download
									td  

								tr

									td 2.
									td Commencement of Admission, availability of application forms
									td(rowspan='2')
										a.other-link(href='http://sanskritischool.edu.in/classxi1718#', target='_blank') CLOSED
									td 03/06/2017

								tr

									td 3.
									td Last date for submission of online application forms
									td 06/06/2017

								tr

									td 4.
									td list of short listed candidates appearing for the interview
									td
										strong
											a(href='http://sanskritischool.edu.in/News/list_of_class_XI_2017_18_8_June_2017.pdf', target='_blank') View List
									td 07/06/2017

								tr

									td 5.
									td Interview
									td  
									td 08/06/2017

								tr

									td 6.
									td
										strong
											| Parents of shortlisted Candidates shall fill the Enrollment form at Accounts Department in the Administration Block (basement) on scheduled date between 11:00am to 1:00pm.
									td
										a(href='http://sanskritischool.edu.in/News/Shortlisted_for_Enrollment_XI_2017_18_9_June_2017.pdf', target='_blank') View List
									td(nowrap='nowrap') 09/06/2017

			section.footer

				include ../../includes/footer.pug