doctype html

html(lang='en')

	head

		title Fee Structure 2016-17 &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Fee Structure 2016-17
					
					.text

						table.border

							tbody

								tr

									th
										center Class
									th
										center Govt. Category
									th
										center General Category

								tr

									td(align='center') Nursery - Prep
									td(align='center') Rs. 1,20,907
									td(align='center') Rs. 1,59,922

								tr

									td(align='center') I - II
									td(align='center') Rs. 1,21,115
									td(align='center') Rs. 1,60,130

								tr

									td(align='center') III - IV
									td(align='center') Rs. 1,21,315
									td(align='center') Rs. 1,60,330

								tr

									td(align='center') V
									td(align='center') Rs. 1,08,040
									td(align='center') Rs. 1,45,591

								tr

									td(align='center') VI - VII
									td(align='center') Rs. 92,817
									td(align='center') Rs. 1,42,378

								tr

									td(align='center') VIII
									td(align='center') Rs. 89,805
									td(align='center') Rs. 1,39,366

								tr

									td(align='center') IX - X
									td(align='center') Rs. 89,505
									td(align='center') Rs. 1,39,066

								tr

									td(align='center') XI
									td(align='center') Rs. 99,019
									td(align='center') Rs. 1,49,329

								tr

									td(align='center') XII
									td(align='center') Rs. 90,819
									td(align='center') Rs. 1,41,129

			section.footer

				include ../../includes/footer.pug