doctype html

html(lang='en')

	head

		title Fee Structure 2017-18 &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Fee Structure 2017-18
					
					.text

						table.border(width='100%', cellspacing='0', cellpadding='0', align='center')
							tbody
								tr
									th(width='3D"38%"')
										center Class
									th(width='3D"38%"')
										center Govt. Category
									th(width='3D"38%"')
										center General Category
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') Nursery - Prep
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 1,18,741
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,57,756
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') I - II
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 1,18,949
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,57,964
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') III - IV
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 1,19,149
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,58,164
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') V
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 1,05,874
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,43,425
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') VI - VII
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 90,651
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,40,412
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') VIII
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 87,639
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,37,400
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') IX - X
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 87,339
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,37,100
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') XI
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 96,853
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,47,363
								tr
									td(align='center', nowrap='nowrap', width='3D"38%"') XII
									td(align='center', nowrap='nowrap', width='3D"28%"') Rs. 88,653
									td(align='center', nowrap='nowrap', width='3D"33%"') Rs. 1,39,163

			section.footer

				include ../../includes/footer.pug