doctype html

html(lang='en')

	head

		title Section-wise Enrolment 2017-18 &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Section-wise Enrolment 2017-18
					
					.text

						table.border(width='857')
							tbody
								tr
									th(rowspan='2', width='64')
										center Class
									th(rowspan='2', width='89')
										center no of Sections
									th(colspan='11', width='640')
										center Sections
									th(rowspan='2', width='64')
										center Total
								tr
									th(width='64')
										center A
									th(width='64')
										center B
									th(width='64')
										center C
									th(width='64')
										center D
									th(width='64')
										center E
									th(width='64')
										center F
									th(width='64')
										center G
									th(width='64')
										center H
									th(width='64')
										center I
									th(width='64')
										center J
									th(width='64')
										center N
								tr
									td(width='64')
										center NURSERY
									td(width='89')
										center 5
									td(width='64')
										center 30
									td(width='64')
										center 27
									td(width='64')
										center 28
									td(width='64')
										center 29
									td(width='64')
										center 26
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 140
								tr
									td(width='64')
										center PREP
									td(width='89')
										center 6
									td(width='64')
										center 29
									td(width='64')
										center 28
									td(width='64')
										center 30
									td(width='64')
										center 32
									td(width='64')
										center 28
									td(width='64')
										center 31
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 178
								tr
									td(width='64')
										center I
									td(width='89')
										center 6
									td(width='64')
										center 30
									td(width='64')
										center 30
									td(width='64')
										center 29
									td(width='64')
										center 31
									td(width='64')
										center 30
									td(width='64')
										center 30
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 180
								tr
									td(width='64')
										center II
									td(width='89')
										center 6
									td(width='64')
										center 29
									td(width='64')
										center 31
									td(width='64')
										center 28
									td(width='64')
										center 27
									td(width='64')
										center 30
									td(width='64')
										center 30
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 2
									td(width='64')
										center 177
								tr
									td(width='64')
										center III
									td(width='89')
										center 6
									td(width='64')
										center 29
									td(width='64')
										center 32
									td(width='64')
										center 31
									td(width='64')
										center 29
									td(width='64')
										center 31
									td(width='64')
										center 30
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 182
								tr
									td(width='64')
										center IV
									td(width='89')
										center 6
									td(width='64')
										center 31
									td(width='64')
										center 31
									td(width='64')
										center 31
									td(width='64')
										center 32
									td(width='64')
										center 31
									td(width='64')
										center 32
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 188
								tr
									td(width='64')
										center V
									td(width='89')
										center 6
									td(width='64')
										center 34
									td(width='64')
										center 31
									td(width='64')
										center 29
									td(width='64')
										center 31
									td(width='64')
										center 28
									td(width='64')
										center 32
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 185
								tr
									td(width='64')
										center VI
									td(width='89')
										center 7
									td(width='64')
										center 31
									td(width='64')
										center 30
									td(width='64')
										center 31
									td(width='64')
										center 28
									td(width='64')
										center 30
									td(width='64')
										center 28
									td(width='64')
										center 29
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 207
								tr
									td(width='64')
										center VII
									td(width='89')
										center 6
									td(width='64')
										center 34
									td(width='64')
										center 34
									td(width='64')
										center 33
									td(width='64')
										center 28
									td(width='64')
										center 32
									td(width='64')
										center 32
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 193
								tr
									td(width='64')
										center VIII
									td(width='89')
										center 7
									td(width='64')
										center 29
									td(width='64')
										center 31
									td(width='64')
										center 30
									td(width='64')
										center 31
									td(width='64')
										center 30
									td(width='64')
										center 31
									td(width='64')
										center 33
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 215
								tr
									td(width='64')
										center IX
									td(width='89')
										center 9
									td(width='64')
										center 29
									td(width='64')
										center 30
									td(width='64')
										center 31
									td(width='64')
										center 31
									td(width='64')
										center 31
									td(width='64')
										center 29
									td(width='64')
										center 26
									td(width='64')
										center 29
									td(width='64')
										center 33
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 269
								tr
									td(width='64')
										center X
									td(width='89')
										center 8
									td(width='64')
										center 29
									td(width='64')
										center 29
									td(width='64')
										center 29
									td(width='64')
										center 33
									td(width='64')
										center 29
									td(width='64')
										center 25
									td(width='64')
										center 22
									td(width='64')
										center 28
									td(width='64')  
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 224
								tr
									td(width='64')
										center XI
									td(width='89')
										center 9
									td(width='64')
										center 30
									td(width='64')
										center 25
									td(width='64')
										center 26
									td(width='64')
										center 31
									td(width='64')
										center 26
									td(width='64')
										center 27
									td(width='64')
										center 24
									td(width='64')
										center 31
									td(width='64')
										center 28
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 248
								tr
									td(width='64')
										center XII
									td(width='89')
										center 9
									td(width='64')
										center 23
									td(width='64')
										center 20
									td(width='64')
										center 21
									td(width='64')
										center 20
									td(width='64')
										center 26
									td(width='64')
										center 29
									td(width='64')
										center 30
									td(width='64')
										center 24
									td(width='64')
										center 32
									td(width='64')  
									td(width='64')  
									td(width='64')
										center 225
								tr
									td  
									td(width='89')
										center 96
									td(width='64')  
									td(colspan='10', width='576') Total strength of School
									td(width='64')
										center 2811
								tr
									td(colspan='13')
										center Most of the children from LC are intgrated to main section


			section.footer

				include ../../includes/footer.pug