section.footer
	width 100%
	background #323248
	color #eee
	font-family "Oxygen"
	
	div.footer-content
		padding 50px 0
		width 100%
		border-bottom 1px solid rgba(255, 255, 255, 0.07)
		align-items flex-start
		
		div.map
			width 40%
			height 100%
		
		div.info
			width 60%
			align-items flex-start
			
			> div
				height 100%
				
				div.data
					width 100%
					
					h1
						padding 0 0 10px 0
						font-size 110%
						color #ff9d53
						border-bottom 1px solid
						margin 0 0 20px 0
						width 70%
					
					p, a
						color #bbb
						letter-spacing 1px
						
					a
						padding 0 0 5px 0
						display block
						transition 0.2s all linear
						
						&:hover
							color #fff
							
				&.address
					width 90%
							
				&.phone
					width 70%
							
				&.email
					width 100%
	
	div.credits
		padding 7px 0
		
		p
			text-align center
			font-size 14px
			color #777
			
			span
				color #bbb
			
			a
				color inherit
				transition 0.2s all linear

			a:hover
				color #fff
						
