section.footer
	height 50%
	width 100%
	background #323248
	color #eee
	font-family "Oxygen"
	
	div.footer-content
		width 100%
		height 100%
		
		div.map
			width 30%
			height 100%
		
		div.data
			width 70%
			height 100%
			
			> div
				padding 10px 5px
			
			div.address
				width 100%
				height 100%
			
			div.phones
				width 100%
				height 100%
				
				a
					padding 10px 0
					color #eee
					width 100%
			
			div.emails
				width 100%
				height 100%
				
				a
					padding 10px 0
					color #eee
					width 100%
