@require variables

section.navigation
	width 100%
	height 15%
	flex-direction column
	background sanskriti-blue
	div.header
		width 100%
		height 60%
		img
			display none
			height 80%
			width auto
		h1
			font-size 300%
			font-family "Old English"
			color sanskriti-orange
			letter-spacing 4px
	div.linkContainer
		width 100%
		height 6vh
		justify-content space-between
		background sanskriti-blue
		color #ccc
		div.link
			font-size 130%
			width 100%
			height 100%
			transition 0.3s all
			a
				font-variant all-small-caps
		div.link:hover
			cursor pointer
			color #fff
			background #292331