section.navigation
	width 100%
	height 15%
	flex-direction column
	background #ddd
	div.header
		width 100%
		height 60%
		background -webkit-linear-gradient(left, #ff3b00, #ff7600)
		background -o-linear-gradient(left, #ff3b00, #ff7600)
		background linear-gradient(to right, #ff3b00, #ff7600)
		h1
			font-size 260%
			font-family "Old English"
			color #201a35
	div.linkContainer
		width 100%
		height 6vh
		justify-content space-between
		background #ddd
		color #666
		font-size 120%
		border-bottom solid 1px #aaa
		div.link
			width 100%
			height 100%
			transition 0.3s all
		div.link:hover
			cursor pointer
			color #222
			background #bbb