doctype html


html(lang='en')

	head

		title Admin Staff &bull; Sanskriti School

		include ../../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Admin Staff

					.text

						h2 Personnel Department (personnel@sanskritischool.edu.in)

						.ul

							li V. Jothi
							li Vinod Kumar

						h2 Administration

						.ul

							li Rachna Handoo
							li Sonia Sachdeva
							li Madhuchhanda
							li Achyamma Thomas
							li Raji Aji

						h2 Accounts Department (accounts@sanskritischool.edu.in)

						.ul

							li P D Joseph
							li Sanjay Nautiyal
							li Renu Budhimania
							li Aji Kumar S

						h2 Estate Department (estate@sanskritischool.edu.in)

						.ul

							li Dhruvendra Singh

						h2 Transport Department (transport@sanskritischool.edu.in)

						.ul

							li Raj Singh

						h2 IT Department (it@sanskritischool.edu.in)

						.ul

							li Hari Prakash Srivastava
							li Ranjeet Kumar
						
						p.
							Updated as on 21/07/2017

			section.footer

				include ../../../includes/footer.pug