doctype html


html(lang='en')

	head

		title Junior Staff &bull; Sanskriti School

		include ../../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Junior School Staff

					.text

						h2 English Department

						.ul

							li Anjali Awasty
							li Ritu Jain
							li Shalini Tandon
							li Priti Kathpalia
							li Alka Patankar
							li Suchi Sud
							li Megha Ramdev
							li Sheeba Desi
							li Vanita Shah
							li Ekta Singh
							li Aradhana Sethi

						h2 Mathematics Department

						.ul

							li Gauri Bhasin
							li Anjali Awasthi
							li Monisha Dhami
							li Shweta Bhargava
							li Aradhana Sethi
							li Vinti Batra
							li Seema Wahi
							li Shruti Narang
							li Heena Bhatia
							li Madhusha Kalamkar

						h2 Social Studies Department

						.ul

							li Shalini Tandon
							li Annie Sethi
							li Suruchi Lal (Junior School Incharge)
							li Suchi Sud
							li Sheeba Desi
							li Aradhana Sethi
							li Mita Chakroborty
							li Anjali Awasthi
							li Alka Patankar
							li Ritu Jain
							li Aparna Singh
							li Shruti Narang
							li Shweta Bhargava

						h2 Hindi Department

						.ul

							li Amrana
							li Pragya Mishra
							li Archana Sharma
							li Ekta Singh
							li Vinti Batra
							li Annie Sethi
							li Anita Ganeriwala

						h2 Science Department

						.ul

							li Priti Kathpalia
							li Anita Ganeriwala
							li Aparna Singh
							li Seema Wahi
							li Monisha Dhami
							li Heena Bhatia
							li Gauri Bhasin
							li Annie Sethi
							li Sheba Desi
							li Ekta Singh
							li Suchi Sud
							li Vinti Batra

						h2 Music Department

						.ul

							li Anshu Nawani
							li Kamal Mothey

						h2 Dance Department

						.ul

							li Rahul Ray
							li Sukanya Sen
							li Renate Manescu

						h2 Clay Department

						.ul

							li Saroj

						h2 Physical Education Department

						.ul

							li Kirti Ballabh
							li Manisha Kaul
							li Rajni Sharma
							li Ravinder
							li Naveen Kumar

						h2 Yoga

						.ul

							li Kriti
							li Manisha Kaul
							li Naveen
							li Rajni Sharma

						h2 Library Department

						.ul

							li Ritu Chaterjee
							li Suman Jaguri

						h2 Infirmary Department

						.ul

							li Sunita Khatri
							li Alucia Francis
							li Lila

						h2 Learning Center

						.ul

							li Gaganpreet Kaur
							li Charlotte Thomas
							li Neha Manochha
							li Prachi Chawla
							li Shikha Chopra
							li Simi Joshi
							li Swati Gaur
							li Uma Dheera
							li Nayandeep Kaur

						h2 Nursery

						.ul

							li Lakshmi Viswanath (REP) & Varna Menon
							li Kavita Mangal & Supriya Malhan
							li Parul Gupta & Anupama Jadhav
							li Kavita Rawal & Kanika
							li Kulpreet Kaur & Geet Sardana

						h2 Prep

						.ul

							li Arti Monga & Charu Vij
							li Vandana Sethi & Sonya Kumar
							li Sushma Kapoor (REP) & Ritika Bhatia
							li Tulika Malhotra & Navneet Kaur Noul
							li Anjali Madan & Jyoti Chawla
							li Danish Arora & Laveena

						h2 Class I

						.ul

							li Mondira Moitra & Tina Duggal
							li Sukanya Mukherjee & Alokananda Muzumdar
							li Alka Zuhtsi & Manu
							li Chetna Bhatia & Sonia Sahny
							li Shilpa Jaisingh (REP) & Sraboni Kumar
							li Bhumika Tandon & Vinita Sharan

						h2 Class II

						.ul

							li Priya Jhingan & Jyoti Chowdhary
							li Alka Jha & Minal Malik
							li Pooja Khanna & Nishta Oberoi
							li Ritu Kumar (REP) & Sona Sachdev
							li Lipi Ganguly & Nitya Bahl
							li Parul Jain & Navneet Kaur Saluja

						h2 Class III

						.ul

							li Anjali Awasthy(REP)
							li Sheeba Dhesi
							li Ekta Singh
							li Aradhana Sethi
							li Vinti Batra
							li Annie Sethi
							li Suchi Sud

						h2 Class IV

						.ul

							li Megha Khurana (REP)
							li Alka Patankar
							li Seema Wahi
							li Meeta Chakroborty
							li Heena Bhatia
							li Shalini Tandon
							li Gauri Bhasin

						h2 Class V

						.ul

							li Pragya Mishra (REP)
							li Aparna Singh
							li Monisha Dhami
							li Priti Kathpalia
							li Shruti Narang
							li Anita Ganeriwala
							li Shweta Bhargava
						
						p.
							Updated as on 26/07/2017						

			section.footer

				include ../../../includes/footer.pug