doctype html


html(lang='en')

	head

		title Middle and Senior Staff &bull; Sanskriti School

		include ../../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Middle and Senior School Staff

					.text

						h2 Department of English

						.ul

							li Shrawasti Ganguli (HOD)
							li Aditi Acharya
							li Anjana Sharan
							li Astha Chopra
							li Kanika Malhotra
							li Keerti Sahni
							li Rashi Pangasa
							li Roopa Midha
							li Ruchi Sehgal
							li Sangita Chaudhary
							li Shivanie Mehta
							li Shuchismita Mishra
							li Zainab Jalwa
							li Naina Sethi

						h2 Department of Mathematics

						.ul

							li Sangeeta Gulati (HOD)
							li Poorni Rajesh (Senior School Incharge)
							li Anjali Tulsiani
							li Chhavi Narang
							li Deepa Khurana
							li Deepti Grover
							li Geeta Mudhar
							li Neelima Gupta
							li Niti Gera
							li Renuka Talwar
							li Sakshi Bablani
							li Sanjay Kumar Sinha
							li Sharmila Malik
							li Shivani Gulati
							li V. Sudha

						h2 Department of Hindi & Sanskrit

						.ul

							li Monika Marwah (HOD)
							li Abha Rani Agrawal
							li Anil Kumar Singh
							li Anita Pratap
							li Anju Jha
							li Anupam Bhalla
							li Puja Sharma
							li Saroj Mamgain
							li Yashoda Pramod
							li Shashi Singh
							li Department of History-Civics

						h2 Sanchita Ghosh (HOD)

						.ul

							li Jaya Mathur
							li Manisha Chowdhary
							li Minakshi Khemka
							li Mona Singh
							li Swati Shukla
							li Department of Geography
							li Kavita Gupta (HOD)
							li Nilakshi Chatterjee
							li Shilpi Singh
							li Yogita Guleria Gautam
							li Pritha Singh

						h2 Department of Physics

						.ul

							li Nidhi Kalucha (HOD)
							li Jyoti Nanda
							li Nupur Agarwal
							li Ripple Mehta
							li Shampa D. Biswas
							li Vrinda Rajendran
							li MM Joseph

						h2 Department of Chemistry

						.ul

							li Meenakshi Malhotra (HOD)
							li Deepti Gupta
							li Meenakshi Kachroo
							li Nidhi Bajaj Anand
							li Rekha Sharma
							li Sutapa Neogi
							li Swati Mathur
							li Madho Singh Chauhan

						h2 Department of Biology/Biotechnology

						.ul

							li Kavita Verma (HOD)
							li Geetika Taneja
							li Molina Sewal
							li Rashmi Singh
							li Tripti Mehta
							li Virajaa Devi
							li Prakash Kumar

						h2 Department of Computer Science

						.ul

							li Anuja Mittal (HOD)
							li Hema Dhingra
							li Promila Sang
							li Punita Ahuja
							li Ruchi Mehra
							li Saraswathi Ravi
							li Anil Kumar
							li Ashok Rai
							li Gireesh Kumar
							li Hemant Kumar
							li Saroj K. Swain

						h2 Department of Foreign Languages

						.ul

							li Mani Mathur - (HOD) French
							li Abhilasha Singh Sinha - French
							li Ananta Prasad - Spanish
							li Lakshita Sharma - German
							li Rashmi Sharma - Spanish

						h2 Department of Economics

						.ul

							li Chayan Singh (HOD)
							li Roopali Arora
							li Supriya Bagga

						h2 Department of Commerce

						.ul

							li Payal Gupta(HOD)
							li Priya Dhingra Sachar
							li Sowdhamini Arvind

						h2 Department of Liberal Arts

						.ul

							li Anupama Dhawan, Psychology, (HOD)
							li Abha Malik, Political Science (Middle School Incharge)
							li Charu Tiwari, Legal Studies
							li Garvita Dhall, Home Science
							li Mamta Saha, Sociology
							li Meenu Arora , Psychology
							li Sumati Ratta, Fashion Studies
							li Medha Scott

						h2 Department of Physical Education

						.ul

							li Keshav Duklan (HOD)
							li Ashwani Kumar
							li Gagan Chitkara – Chess
							li Mahmood Alam
							li Radha Gusain – Yoga
							li Susan Morris
							li Santosh Kumar - Swimming
							li Department of Theatre
							li Radha

						h2 Department of Music

						.ul

							li Divya Jain (HOD)
							li Rajiv Tyagi
							li Ganesh Lal

						h2 Department of Art

						.ul

							li Shuchi Khanna (HOD)
							li Manish Gupta
							li Navroop Kaur

						h2 Department of Library Facilities

						.ul

							li C D Revathi
							li Naresh Kumar
							li Vandana Sharma
							li Yashu Anand

						h2 Department of Special Needs

						.ul

							li Rashmi Dhawan (HOD)
							li Rashmi Verma
							li Shalini Bhagat
							li Shashi Singh
							li Sujatha Ravi

						h2 Department of Counselling

						.ul

							li Meenu Arora ( Senior School)
							li Vandana Nangia (Middle School)
						
						p.
							Updated as on 24/07/2017						

			section.footer

				include ../../../includes/footer.pug