doctype html

html(lang='en')

	head

		title Payscale &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Payscale
					
					.text

						table

							tbody

								tr

									th
										strong Sl. No
									td
										strong Designation
									td
										strong Pay Scale
									td
										strong Grade Pay
									td
										strong % of DA
									td
										strong HRA
									td
										strong EPF Contribution

								tr

									td 1.
									td Primary School Teacher:

								tr

									td 
									td Existing Staff
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 
									td New Recruitment
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 2.
									td Trained Graduate Teacher:

								tr

									td 
									td Existing Staff
									td 9,300-34,800
									td 4,800
									td 80%
									td 30%
									td 12%

								tr

									td 
									td New Recruitment
									td 9,300-34,800
									td 4,600
									td 80%
									td 30%
									td 12%

								tr

									td 3.
									td Post Graduate Teacher:

								tr

									td 
									td Existing Staff
									td 9,300-34,800
									td 5,400
									td 80%
									td 30%
									td 12%

								tr

									td 
									td New Recruitment
									td 9,300-34,800
									td 4,800
									td 80%
									td 30%
									td 12%

								tr

									td  

								tr

									td 4.
									td Lab Demonstrator
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 5.
									td Lab/ Library Assistant
									td 9,300-34,800
									td 2,800
									td 80%
									td 30%
									td 12%

								tr

									td 6.
									td Nursing Assistants
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 7.
									td Sr Accountant/ Trpt Incharge
									td 9,300-34,800
									td 4,800
									td 80%
									td 30%
									td 12%

								tr

									td 8.
									td Office Assistants
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 9.
									td Accounts Assistants
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 10.
									td Librarian
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 11.
									td Receptionist
									td 9,300-34,800
									td 4,200
									td 80%
									td 30%
									td 12%

								tr

									td 12.
									td Multi Tasking Staff (MTS)
									td 4,440-7,400
									td 1,300
									td 80%
									td 30%
									td 12%

								tr

									td 13.
									td Transport Staff- Driver
									td 5,200-20,200
									td 1,900
									td 80%
									td 30%
									td 12%

						p.
							Updated on 17th October 2016

			section.footer

				include ../../includes/footer.pug