doctype html

html(lang='en')

	head

		title Circulars &amp; Updates &bull; Sanskriti School
		
		script var page = 0;

		script(src="/assets/js/news.js")

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Circulars &amp; Updates 
					
					.text

						.container

						a(href="/news/archive") News Archive

			section.footer

				include ../../includes/footer.pug