doctype html

html(lang='en')
	head
		title Fee Structure 2016-17 &bull; Sanskriti School
		include ../includes/head-general.pug
	body
		div.container
			section.navigation.flex
				include ../includes/navigation.pug
			section.main
			section.footer
				include ../includes/footer.pug