doctype html

html(lang='en')

	head

		title Early Child Development &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Early Child Development

					.text

						img(src="/assets/img/early-child-development-1.jpg")

						p.
							Our pre-primary children blossom in a nurturing environment. Two class teachers and a lady support staff for each section caters to individual needs of the little ones. Sensory development and environmental studies approach to learning makes our curriculum holistic and child-centric. Hands-on activities, experiments like cooking without fire, music and dance are provided with opportunities for each child to maximise his/her potential in a comfortable and non-competitive environment. 
						
						img(src="/assets/img/early-child-development-2.jpg")

						p.
							Fun activities for the pre-primary like Splash pool, Parents day out, Grand parents day, and Jashn-e-Khidmat are an integral part of the value based education followed across the school.

			section.footer

				include ../../includes/footer.pug