doctype html

html(lang='en')

	head

		title Junior School &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Junior School

					.text

						img(src="/assets/img/junior-school.gif" alt="An animated GIF, showcasing various photos of activities and occasions that take place in junior school.")

						p
							| The Junior School curriculum is child-centered and activity based so that learning is made fun and enjoyable. 
						
							br

							br

							| Classes I – III have no examination. 
						
							br

							br

							| Periodic assignments are given to class III which are graded. 
						
							br

							br

							| Classes IV-V appear for their weekly unit tests and also term exam is held once every semester. 
						
							br

							br

							| Assessment for classes IV and V is based purely on the grading system.
						
						p
							
							a(href="/curriculum/newsletter") Click here
							
							|  for Junior School Newsletter

			section.footer

				include ../../includes/footer.pug