doctype html

html(lang='en')

	head

		title Middle School &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Middle School

					.text

						img(src="/assets/img/middle-school.gif" alt="An animated GIF, showcasing various photos of activities and occasions that take place in junior school.")

						p.
							A happy, stimulating, secure learning environment ensures happy, sensitive, life- long learners who will be change makers in society. 

						p.
							At Sanskriti School, the middle school years (from classes 6 to 8) provide the foundation on which young learners build a promising and fulfilling future. This phase successfully provides for the emotional, physical and social well being of young minds who in turn will be self -aware, creative, empathetic listeners and effective communicators. 

						p.
							Classroom teaching is supplemented with theatre activities, hands on projects and technology. The recent introduction of Google Chromebooks in the classroom has added an exciting dimension to ICT-integrated education and has opened up immense possibilities for the creative teacher as well as the learner. 

						p.
							The coming up of the state of the art Science lab has taken scientific temper and spirit of enquiry to a new level and students eagerly engage in learning science concepts through experiments conducted in this ultra modern set up. Field trips go hand in hand with laboratory experiments and augment learning. The life skills imbibed during these trips are indeed enduring lessons of life itself. 

						p.
							The Class Assemblies as well as Special Assemblies offer ample opportunity for each child to go up on stage and showcase her/his talent while keeping in mind the intrinsic values of their august institution. 

						p.
							The inclusion of ‘Mindspark’ which focuses on developing analytical thinking provides that extra challenge for students to get an in-depth understanding of a concept in great detail. While Mindspark ignites the analytical mind, the ‘Edgemakers’ for class 6 ensures that these young minds learn to look at academics through a creative kaleidoscope thus opening up new vistas of learning. Such activity based programmes promote valuable life skills such as critical and creative thinking and develop empathetic listening and effective communication. 

						p.
							‘Explore’ is yet another exciting programme offered to grade 7. This module uses an interactive methodology and latest technology to empower students by placing the power of learning in the hands of the learners while they work in groups, exploring and connecting textbook concepts to real life situations. 

						p.
							Class 8 gets introduced to a lifeskill programme that rests on the tenets of ‘leadership’. Students are made to understand the multidimensional concepts of leadership through experiential learning. 

						p.
							All these activities and programmes contribute towards nurturing 21st century learners who will be equipped to face the world of tomorrow. As a part of our holistic approach, we also aim at fostering in these students a love for nature and an appreciation of the beauty around us by introducing gardening to the young children of class 6. It is indeed a delight to watch little hands digging up the soil, sowing seeds and watering them joyfully regardless of the cold or the scorching sun. It is an activity which uplifts the soul and humbles the mind, paying a tribute to the magnificence of Mother Nature. 

						p.
							Last but definitely not the least is the mental health programme that is offered. Through the workshops conducted, it provides the emotional anchor to keep our young students well rooted, confident and happy members of society. 

						p.
							The Middle School of Sanskriti provides a challenging and engaging curriculum in which every student develops into a well- grounded young adult.					

			section.footer

				include ../../includes/footer.pug