doctype html

html(lang='en')

	head

		title Senior School &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Senior School

					.text

						img(src="/assets/img/senior-school.gif")

						p.
							At senior school the young adults hone their academic and extra-curricular skills to prepare for their journey into the world outside the protective environs of the school. Innovative and effective teaching methodologies are used by the teachers with focus on the constantly changing educational pedagogy which enhances academic achievement. Apart from skills and knowledge due attention is also paid to inculcating values which will stand them in good stead in life. Our unique system of instituting a class teacher’s interactive period every morning is used to ensure that our students become sensitive and sensible citizens of the world. We are indeed proud that our senior students not only prove their mettle in the academic arena in India and abroad but also distinguish themselves with their strength of character.

			section.footer

				include ../../includes/footer.pug