doctype html

html(lang='en')

	head

		title Smartskills &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Smartskills

					.text

						table.border

							tbody

								tr

									th(align='center') Class VI
									th(align='center') Class VII
									th(align='center') Class VIII
									th(align='center') Class IX
									th(align='center') Class X
									th(align='center') Class XI
									th(align='center') Class XII

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/EnglishVI.pdf') English
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/EnglishVII.pdf') English
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/EnglishVIII.pdf') English
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/EnglishIX.pdf') English
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/EnglishX.pdf') English
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/EnglishXI.pdf') English
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/EnglishXII.pdf') English

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/MathsVI.pdf') Maths
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/MathsVII.pdf') Maths
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/MathsVIII.pdf') Maths
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/MathsIX.pdf') Maths
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/MathsX.pdf') Maths
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/MathsXI.pdf') Maths
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/MathsXII.pdf') Maths

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/ScienceVI.pdf') Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/ScienceVII.pdf') Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/ChemistryVIII.pdf') Chemistry
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/PhysicsIX.pdf') Physics
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/PhysicsX.pdf') Physics
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/PhysicsXI.pdf') Physics
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/PhysicsXII.PDF') Physics

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/SocialVI.pdf') Social Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/SocialVII.pdf') Social Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/SocialVIII.pdf') Social Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/ChemistryIX.pdf') Chemistry
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/ChemistryX.pdf') Chemistry
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/ChemXI.pdf') Chemistry
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/ChemXII.pdf') Chemistry

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/HindiVI.pdf') Hindi
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/HindiVII.pdf') Hindi
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/HindiVIII.pdf') Hindi
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/BioIX.pdf') Biology
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/BioX.pdf') Biology
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/BioXI.pdf') Biology
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/BioXII.pdf') Biology

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/FrenchVI.pdf') French
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/FrenchVII.pdf') French
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/FrenchVIII.pdf') French
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/SocialIX.pdf') History/Pol. Sc.
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/HistoryX.pdf') History/Pol. Sc.
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/EcoXI.pdf') Economics
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/EcoXII.pdf') Economics

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/GermanVI.pdf') German
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/GermanVII.pdf') German
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/GermanVIII.pdf') German
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/HindiIX.pdf') Hindi
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/HindiX.pdf') Hindi
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/CompscXI.PDF') Computer Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/CompscXII.pdf') Computer Science

								tr

									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVI/SpanishVI.pdf') Spanish
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVII/SpanishVII.pdf') Spanish
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/BioVIII.pdf') Biology
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/GeographyIX.pdf') Geog/Eco
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/GeographyX.pdf') Geography
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/AcctXI.pdf') Accountancy
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/AcctXII.pdf') Accountancy

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/SpanishVIII.pdf') Spanish
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/SpanishIX.pdf') Spanish
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/SpanishX.pdf') Spanish
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/BSXI.pdf') Business Studies
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/BSXII.pdf') Business Studies

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassVIII/PhysicsVIII.pdf') Physics
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/GermanIX.pdf') German
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassX/EcoX.pdf') Economics
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/ENtXII.pdf') Entrepreneurship

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(colspan='2', align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassIX/FrenchIX.pdf') French
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/PolXI.pdf') Political Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/PolscXII.pdf') Political Science

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/GeographyXI.pdf') Geography
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/GeoXII.pdf') Geography

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/HistoryXI.pdf') History
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/HistoryXII.pdf') History

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/PsyXI.pdf') Psychology
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/PsyXII.pdf') Psychology

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/BiotechXI.pdf') Bio-Technology
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/BiotechXII.pdf') Bio-Technology

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/SocioXI.pdf') Sociology
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/SocioXII.pdf') Sociology

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/HomescXI.pdf') Home Science
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/HomescXII.pdf') Home Science

								tr

									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')  
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXI/FashXI.pdf') Fashion Studies
									td(align='center')
										a(href='http://sanskritischool.edu.in/ss2017/ClassXII/FashXII.pdf') Fashion Studies

			section.footer

				include ../../includes/footer.pug