doctype html

html(lang='en')

	head

		title Administration Block &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Administrative Block
					
					.text

						img(src="/assets/img/administrative-block.jpg" alt="Photo of the school's grand administrative block.")

						p.
							As we enter the school, we first come across a well laid out, attractively designed administrative block, which is the major hub of all administration work. It is conveniently located near the entrance so that visitors can easily access it even during school hours. The building on the left, after the beautifully aid out garden, has the Principal’s office, the main reception area. On the first floor is the committee room. Opposite to the building is the one that houses the Accounts and the Personnel department along with a full-fledged bank extension counter, the uniform shop and the book shop, which cater to the school’s needs. 

						p.
							Office Timings: 8:30 a.m. to 4:30 p.m. 

						p.
							Book Shop Timings: Monday to Friday: 02:15 p.m. – 4:00 p.m. 

						p.
							Uniform Shop Timings: Monday to Friday: 02:15 p.m. – 4:00 p.m. 

						p.
							Bank Extension Counter: Monday to Friday: 02:15 p.m. – 4:00 p.m. 

						p.
							Saturday: 9:30 a.m. – 11:30 a.m.		

			section.footer

				include ../../includes/footer.pug