doctype html

html(lang='en')

	head

		title Amphitheatre &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Amphitheatre

					.text

						img(src="/assets/img/amphitheatre.jpg" alt="The school's large and spacious, centrally located amphitheatre.")

						p.
							The Amphitheatre is the nerve centre of Sanskriti. Built strategically in the very centre of the school, all assemblies, special ceremonies, such as prize distributions, investiture ceremony, citation for the graduating batch of Class XII and other such events are held here. 

						p.
							Built in a semi-circular style, it can seat around 600 people and the circular stage can easily accomodate 50 to 60 children during a performance.

			section.footer

				include ../../includes/footer.pug