doctype html

html(lang='en')

	head

		title Art Block &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Art Block
					
					.text

						p.
							The Art department is located in two different areas, one in the junior school and the other in the dining block, for the middle and senior students. 
						
						p.
							The Junior Art Block , situated on the first floor, is spacious and has large windows, this giving it the advantage of a beautiful view of the school. It is a spacious and airy place where Children can discover their creativity in this airy and comfortable room. The room is equipped with every kind of art material and has an environment conducive to inculcate interest in learning. The display boards on the walls exhibit the brilliant work of the creative young minds. Clay Modelling is taught in a separate well equipped studio. The middle and senior art rooms are located in the first and second floor of the canteen block. In the spacious art labs of the middle school, inter disciplinary art and many different techniques are taught in an interesting way ensuring imparting of knowledge using varied innovative mediums and forms of art. For senior school, the CBSE curriculum is followed. Under fine arts, applied/ commercial art is taught. The senior art lab is aptly equipped not only to teach but is also spacious enough to conduct workshops, competitions and big scale events. The art faculty comprises dedicated, talented and enthusiastic teachers always willing to strive for excellence.					

			section.footer

				include ../../includes/footer.pug