doctype html

html(lang='en')

	head

		title Canteen &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Canteen

					.text

						img(src="/assets/img/canteen.jpg")

						p.
							The school canteen is a spacious hall with long steel tables and stools, arranged in front of the counter. It is housed in what is referred to as the Dining Bock. It has a fully equipped kitchen and serves hygienic food to the students. The menu ranges from South Indian to Chinese. The school doctor and the environment club members closely supervise the cafeteria. The break time sees the students in large numbers engaged in discussions and enjoying the food served. It is a favourite place for the Sanskritians , staff and students alike.

			section.footer

				include ../../includes/footer.pug