doctype html

html(lang='en')

	head

		title Classrooms &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Classrooms
					
					.text

						img(src="/assets/img/classroom.jpg" alt="Photo of a large, well built and naturally lit, modern classroom in Sanskriti School.")

						p.
							Classrooms are large and airy with abundant natural light to provide the right ambience for an effective learning experience at school. A noticeboard is provided in every Classroom, which is decorated by both teachers and students for different events throughout the academic year. All Classrooms are equipped with student lockers. 

						p.
							Junior classes also have an independent class library managed by the respective class teachers.						

			section.footer

				include ../../includes/footer.pug