doctype html

html(lang='en')

	head

		title Details of Campus &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Details of Campus

					.text

						table(align='center')

							tbody

								tr

									td(align='center') Area
									td(align='center') :
									td(align='center') 7.67 Acres/31,250 Sq Mtrs

								tr

									td(align='center') Built up area(Sq. mtrs.)
									td(align='center') :
									td(align='center') 20,000 Sq. Mtrs

								tr

									td(align='center') Area of Playground
									td(align='center') :
									td(align='center') 11,250 Sq. Mtrs.

								tr

									td(align='left') Other Facilities:

								tr

									td(align='right') Swimming pool
									td(align='center') :
									td(align='center') Yes

								tr

									td(align='right') Indoor Games
									td(align='center') :
									td(align='center') Yes

								tr

									td(align='right') Dance Room
									td(align='center') :
									td(align='center') Yes (Two)

								tr

									td(align='right') Gymnasium
									td(align='center') :
									td(align='center') Yes (One)

								tr

									td(align='right') Music Rooms
									td(align='center') :
									td(align='center') Yes (Two)

								tr

									td(align='right') Hostel
									td(align='center') :
									td(align='center') No

								tr

									td(align='right') Health and Medical Checkup
									td(align='center') :
									td(align='center') Yes

			section.footer

				include ../../includes/footer.pug