doctype html

html(lang='en')

	head

		title Infirmary &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Infirmary

					.text

						p.
							The Infirmary, which was opened in 2000, in just a classroom, became fully operational in a building of its own in 2004. The centrally air-conditioned building has provision for 11 beds, six for the boys and five for the girls. The doctor’s room and the nursing station complete the picture. During school hours, as well as after school, for Umang children or for sports or for those who stay back, there is a nurse in attendance. The infirmary is under the supervision of a Pediatrician. 

						p.
							There are regular check ups for the students and staff, as well as vaccinations of the canteen personnel and records are kept meticulously for all the work done. The Umang children are provided with supplements and routine check ups for them are also done. 

						p.
							The infirmary is used to tackling emergency situations like fainting, epilepsy, asthma attacks, hyperventilation attacks, cuts and wounds, as well as fractures. First aid workshops are held for staff and students. The infirmary is in charge of sending First aid kits on school outings. Oxygen cylinders as well as nebulizers are available round the clock. There are stretchers and a wheel chair in times of need.

			section.footer

				include ../../includes/footer.pug