doctype html

html(lang='en')

	head

		title Labs &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Labs
					
					.text

						img(src="/assets/img/lab.jpg" alt="Photo of the large physics lab in senior school.")

						p.
							Sanskriti School has well-equipped laboratories for different streams.The school has two labs each for Physics and Chemistry, one for Biology and one for Biotechnology.

						p.
							A well equipped Home Science Lab helps students hone their culinary skills. The school has five student labs for computers and one lab exclusively for teachers. The Mathematics laboratory facilitates the learning of Mathematics through learning activities. 

						h2 Physics Labs

						p.
							The Physics department has two laboratories, consisting of two large rooms. Each room has 8 tables with the arrangement for 4 sets of experimental set up on each table for the students. The labs can accommodate around 25-30 students at a time. Each lab has one demo table and is equipped with various apparatus, OHP, Projector, white board for experiments, activities and demonstration. During the practical periods, each class is divided in to two groups for easy supervision. There is a well- qualified lab demonstrator who helps the teacher in demonstrating experiments or apparatus for the students. 

						h2  Biology and Biotechnology Labs

						p.
							The Biology lab of the school caters to classes IX to XII. The spacious and well-ventilated lab can accommodate 25-30 students at a time. There are 30 compound microscopes with illuminations and the same number of dissection microscopes. There is provision for storing all the chemicals needed for practicals as well as space for test tubes, slides cover slips, beakers, flasks and so on. The lab also has a slide projector as well as a digital camera. The various models and life size skeletons along with a large number of charts and ready made OHP transparencies make the lab a centre of learning for students. The well-equipped Biotech lab caters to the practicals and project work of classes XI and XII. It has an autoclave, a refrigerator, an incubator chamber and a deep freeze. The steel laminar flow hood carries out all culture work in a sterile environment. Spectrophotometer, trans- illuminator, all essential kits, electrophoresis apparatus, microscopes and auto pipettes are available to the students. 

						h2  Computer Labs

						p.
							Sanskriti School has 6 computer labs accessible to students with advanced hardware and software to cater to the students’ requirements. Each laboratory has 30 to 35 systems with the required copies of licensed software for each level. Our labs, IBLAB1 and IBLAB4, are utilized by classes XI and XII for C++ and PYTHON students. Our second lab SRLAB is used by class XII for PYTHON. The Annexe block lab is reserved for the students of grade VI, VII and VIII. IBLAB2 is for classes III-V and the Junior lab, JRLAB, is meant for our little ones from grades prep to II. Each lab is equipped with a state of art LCD projector for teacher demos and other presentation purposes. Apart from these five, the school can boast of a hi-tech Maths Lab which is dedicated to the learning of advanced concepts of mathematics with the latest technology and expert faculty. There is a Computer lab exclusively for teachers. Here teachers complete their school related work (test papers and assignments). This lab is equipped with 16 computers, 8 Open Source Software Linux environment supporting systems, 2 laser printers and 2 scanners. This lab also gives our teachers ample opportunity to work on the school website with upload their data, i.e., marks, assignments and question papers and keep in touch with the parents of their students. All our Labs have constant access to the internet and are used extensively for research work by both students and teachers. The school can proudly boast of its highly advanced audio-visual rooms, equipped with a smart board and LCD projector. Here lectures accompanied by presentations/visuals are carried out by various departments as an endeavor to integrate IT into other subject curricula. 

						h2  Chemistry Labs

						p.
							The senior school has two well-equipped spacious chemistry labs and a separate room for keeping the potentially hazardous chemicals. Both the labs are very well lit and ventilated and fitted with exhausts. Apart from necessary chemicals & apparatus, it is equipped with centrifuge chemical balances and certificate. In addition, to take special care of those who are allergic, the labs have been fitted with fume hoods. It is a specially designed chamber of stainless steel fitted with high speed blower to directly take away the fumes through ducting. Around thirty students can work in the lab at a given time. The teachers as well as a lab attendant are always there to help and instruct. 

						h2  Mathematics Labs

						p.
							In keeping up with the changing times, Mathematics Laboratory at Sanskriti School brings technology in use to teach the abstract concepts of Mathematics. Here students explore the properties of Quadrilaterals, discover various centres of a triangle, spend time on plotting and understanding graphs of various functions and appreciate beauty of mathematics by using dynamic geometric software -Geometer's Sketchpad. Using Graphic Calculators students simulate 100 tosses of a pair of coins and understand the concept of experimental and theoretical Probability. Maths Lab is also used by teachers to enhance their lessons by using online tutorials and Powerpoint presentations. Students do their research for various projects and interschool competition using the Maths Lab facilities. In the past four years our students have won the "Niamat Rai Trophy" thrice for the "Best Investigatory Project in Mathematics" at the Interschool competition held at Springdales School, Pusa Road New Delhi. 

			section.footer

				include ../../includes/footer.pug