doctype html

html(lang='en')

	head

		title Library &bull; Sanskriti School

		include ../../includes/head-general.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Library

					.text

						img(src="/assets/img/library.gif")

						p.
							The junior, middle and senior school libraries are located centrally in the school to facilitate ease of access. A wide range of books aims to help children rediscover the joy of reading. A very extensive reference section helps students work on multi-dimensional projects. 		

						p.
							The goal of the school library is to ensure that all members of the school get an equitable access to books and of course the books are a great inspiration to the students as the library has a great collection of fiction, non – fiction and reference books. The latest collection of reference books for various subjects, supplementing the textbooks is available to the students. Students find information from these collections to do their research and project work.								

						table

							tbody

								tr

									td(align='right')
										strong Library Facilities at a Glance

								tr

									td(align='right') 1. Size of the library
									td :
									td 8611.1 Sq Feet/800 Sq Mts.

								tr

									td(align='right') 2. Number of periodicals
									td :
									td 6

								tr

									td(align='right') 3. Number of Dailies
									td :
									td 6

								tr

									td(align='right') 4. Number of Magazines
									td :
									td 17

								tr

									td(align='right') 5. Number of Reference Books :

								tr

									td(align='right') Junior School
									td :
									td 12112

								tr

									td(align='right') Middle school
									td :
									td 6999

								tr

									td(align='right') Senior School
									td :
									td 7584

						ul

							li

								a(href="/infrastructure/library/junior-library.html") Junior School Library

							li

								a(href="/infrastructure/library/senior-library.html") Senior School Library

			section.footer

				include ../../includes/footer.pug