doctype html

html(lang='en')

	head

		title Sports Facilities &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Sports Facilities
					
					.text

						img(src="/assets/img/sports.gif" alt="An animated GIF showcasing the various sports and related activities that take place in the school.")

						p.
							The school has a spacious gymnasium, which contains a basketball court, and table tennis equipment. It was inaugurated by Smt.Vinita Pande, Chairperson, Civil Services Society, on 29th April,2003. The gym doubles up for informal occasions for yoga practice, and as the venue of the JAM session for the Winter Carnival. At any given time, we can see youngsters playing basketball or badminton enthusiastically or trying their hand at table tennis. The well- qualified Physical Instruction teachers are always present to give tips and for coaching in all the sports. For eg. Basket ball, Football, Badminton, Cricket etc. We have a qualified Taekwondo expert who trains students for Inter school matches. The school has scored very well in many sports events and also has organized many inter school matches. We have sent students abroad as well, to play in schools there, thus exposing our children to a wider spectrum in the field of sports. The vast playground is the arena for the Annual Sports Day for the showcasing of talent in athletics. 

						p.
							Aquatic events like Inter house swimming competitions are held in the pool,that is built to international standards. The pool is open to the staff, students and the parents of the Sanskriti school 

						p.
							The paddle pool in the junior wing of the school is for the little ones to splash about during the hot summer months.					

			section.footer

				include ../../includes/footer.pug