doctype html

html(lang='en')

	head

		title Transport Facilities &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Transport Facilities

					.text

						p
							| As on date the School is running 36 school bus routes. For details, please contact Transport department through a WhatsApp message only to 
							
							a(href="tel:8700584581") 8700584581

			section.footer

				include ../../includes/footer.pug