@media only screen and (max-width: 1000px)
	
	section.top
		padding 50px 0
		
		div.carousel
			width 85%
			margin 0 0 50px 0
			
			div.carousel
				
				img
					width 100%
		
		div.welcome
			width 85%
			
			div.container
				width 100%

	section.middle
		flex-direction row
	
	section.bottom
		padding 40px 0
		
		div.image
			width 85%
			margin 0 0 20px 0
	
			img
				width 50%
		
		div.message
			width 85%
			
			div.container
				width 100%

@media only screen and (max-width: 767px)

	section.middle
		flex-direction column
		
		div.updates
			width 85%
			margin 40px 0
			
			div.updates-box
				height 100%
				
				div.updates-list
					
					li
						width 90%

			&.achievements
				margin 0
			
