@media only screen and (max-width: 1000px)

	*.flex
		flex-direction column

	// Footer
	@import "footer/max-1000"

@media only screen and (max-width: 768px)

	// Navigation
	section.navigation
		
		div.header
			
			a
				
				h1
					font-size 210%
					letter-spacing 2px
		
		div.links
			
			div.container
				
				div.links
					padding 0 13px
					
					a
						font-size 110%
	
	// Footer
	@import "footer/max-768"