@media only screen and (max-width: 1000px)

	*.flex
		flex-direction column

	// Footer
	@import "footer/max-1000"

@media only screen and (max-width: 767px)

	// Navigation
	section.navigation
		
		div.header
			
			a
				img
					margin 0 15px 0 0
				
				h1
					font-size 210%
					letter-spacing 2px
		
		div.links
			
			div.container
				
				div.link
					padding 0 15px
					
					a
						font-size 120%
	
	//iOS Safari flex-box fix (to be applied to all mobile devices)
	*.ios-safari-fix
		display block
		margin-right auto
		margin-left auto
	
	// Footer
	@import "footer/max-767"