doctype html


html(lang='en')

	head

		title Clubs &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Clubs

					.text

						.ul

							li
								a(href="https://projectbeta.tech") ProjectBeta (IT Club)
							
							li Bizzonomy
							li Debating
							li Green Brigade
							li Interact
							li Inscape
							li Music
							li Physics
							li Photography
							li Heritage
							li The Literati Club

			section.footer

				include ../../includes/footer.pug