doctype html


html(lang='en')

	head

		title Counselling &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Counselling
					
					.text

						img(src="/assets/img/counselling.jpg" alt="Photo of a group of junior school children smiling with their counsellor.")

						p.
							Children, as they grow, deal with their own stress, pressures and anxieties- some real, some imaginary, some temporary and some more permanent. We provide counselling services to help our students understand themselves better and to deal with their life situations. 

						p.
							The school has 2 trained counsellors, one for the junior school and one for the senior school. Both of them have worked in the field for more than 20 years and are very skilled in dealing with children and adolescents. Counselling is absolutely confidential and parents are free to get in touch with the counsellor regarding any issue that worries them. 

						p.
							Apart from handling emotional issues that may stem from the school, home or peer group, we also help the students to make career choices. This may be at the end of grade of X when they need to choose subjects of study or it may be all through Grades XI and XII, relating to career options and admissions in foreign universities.

			section.footer

				include ../../includes/footer.pug
