doctype html


html(lang='en')

	head

		title Managing Committee &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Managing Committee

					.text

						table

							thead

								tr

									th S. No.
									th Name
									th Designation

							tbody

								tr

									td 1
									td Ms Roopa Sinha
									td Chairperson, The Civil Services Society

								tr

									td 2
									td Ms Priti Gupta
									td Secretary, The Civil Services Society

								tr

									td 3
									td Ms Ranjana Jha
									td Treasurer, The Civil Services Society

								tr

									td 4
									td Ms Richa Sharma Agnihotri
									td Principal-cum-Manager, Sanskriti School

								tr

									td 5
									td Ms Haripriya Padmanabhan
									td Member

								tr

									td 6
									td Ms Jyoti Pande Lavakare
									td Member

								tr

									td 7
									td Mr Kashi Nath Jha
									td Member

								tr

									td 8
									td Mr Sanjeet Singh
									td Member

								tr

									td 9
									td Mr Harish Chandra Bhatt
									td Member

								tr

									td 10
									td Mr Anit Kumar Bahutay
									td Member

								tr

									td 11
									td Mr Prakash Bhatt
									td Member

								tr

									td 12
									td Ms
									td Member

								tr

									td 13
									td Ms Alka Patankar
									td Member

								tr

									td 14
									td Mr K S Bora
									td Member

								tr

									td 15
									td Mr Vikas Kalia
									td Member

								tr

									td 16
									td Mr Sohan Pal
									td Member

								tr

									td 17
									td Ms Kyoko Jaishankar
									td Member

								tr

									td 18
									td Ms Geetha Mohan Kumar
									td Member

								tr

									td 19
									td Ms Neerja Shah
									td Member

								tr

									td 20
									td Ms Satbir Bedi
									td Member

								tr

									td 21
									td Mr Dharmendra
									td Member

								tr

									td 22
									td Mr Devesh Chaturvedi
									td Member

								tr

									td 23
									td Ms Nishi Tripathi
									td Member
					
						p.
							Last updated: September 2017

			section.footer

				include ../../includes/footer.pug