doctype html


html(lang='en')

	head

		title Mission &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Mission

					.text

						p.quote “Education is growth. [...] Education is not a preparation for life; education is life itself.” - John Dewey


						p.
							The task of an excellent teacher is to stimulate “apparently ordinary” people to unusual effort. The problem is not in identifying winners; it is in making winners out of ordinary people. The Mission of the school is to provide the right inputs that would lead to the holistic development of the child. The school follows the motto ‘Knowledge is Liberation’ It is the corner stone around which the character and personality of every child is built. The Civil Service Society visualizes an educational system on the four basic tenets: universal values, excellence in all things, global understanding by viewing diversity as an asset and service to humanity. The aim is to nurture children who have had every opportunity to inculcate in them the ideas of sharing and caring, to make the right choices in life and to enable them to be responsible citizens of the country and the world.

			section.footer

				include ../../includes/footer.pug
