doctype html


html(lang='en')

	head

		title Student Council &bull; Sanskriti School

		include ../../includes/head.pug

	body

		div.container

			section.navigation.flex

				include ../../includes/navigation.pug

			section.main

				.container

					.title

						h1 Student Council

					.text

						h2 Senior School

						.ul
							
							- var years = ['04','05','06','07','08','09','10','11','12','13','14','15','16','17','18']
							- for (var i = 13; i >= 0; i--) {
								li
									a(href="/assets/pdf/council/20" + years[i] + ".pdf") Academic Session 20#{years[i]} - 20#{years[i+1]}
							- }

						h2 Junior School

						.ul
							
							- var years = ['08','09','10','11','12','13','14','15','16','17','18']
							- for (var i = 9; i >= 0; i--) {
								li
									a(href="/assets/pdf/council/20" + years[i] + ".pdf") Academic Session 20#{years[i]} - 20#{years[i+1]}
							- }

			section.footer

				include ../../includes/footer.pug